/* Section A*/

#section-a {
	background: var(--btn-bgd);
	color: #fff;
	padding-bottom: 2em;
}

/* Section B */

#section-b {
	padding: 2em 1em 1em;
}

.sb-ulist{
	list-style: none;
	margin: 0;
	padding: 0;
}

.list-card {
	margin-bottom: 1em;
	background: var(--btn-bgd);
	color: #fff;
}

.card-content {
	padding: 1.5em;
}

/* Section C */

#section-c {
	background-color: var(--btn-bgd);
	color: #fff;
	padding: 2em;
}

/* Section D / box */

.box {
	padding: 2em;
	color: #fff;
}

.box:first-child {
	background-color: var(--couleur2);
}

/* Footer */

#main-footer{
	padding: 2em;
	background-color: var(--couleur2);
	color: #fff;
	text-align: center;
}

.ftr-link{
	text-decoration: none;
	color: var(--btn-bgd);
}