/* Media Queries */

@media(min-width:700px){
	.grid {
		display: grid;
		grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
	}
	
	#section-a .content-text {
		columns: 2;
		column-gap: 2em; 
	}
	
	#section-a .content-text p {
		padding-top: 0;
		text-align: center;
	}
	
	.content-wrap, #section-b .sb-ulist {
		grid-column: 2/4;
	}
	
	.box, #main-footer .footer-col2 {
		grid-column: span 2;
		text-align: center;
	}
	
	.sb-ulist{
		display: flex;
		justify-content: space-around;
	}
	
	.list-card {
		width: calc(100%/3);
		margin: 0em .5em;
	}
}